html
  head
    title='projectHub'
    style
      include index.css
  body
    div(class='App')
      div(class='selection-bar')
        h2 Welcome to ProjectHub
        a(href="/") Home
        a(href="apps/calculator") Calculator app